---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>
      
             {% if page.category %}
                    {% for site_category in site.data.categories %}
                        {% if site_category.slug == page.category %}
                            {% assign category = site_category %}
                        {% endif %}
                    {% endfor %}
                    {% if category %}
                {% capture category_content %} <i class="fa fa-bars"></i>  <a href="/blog/category/{{ category.slug }}/">{{ category.name }}</a></span>{% endcapture %}
                    {% endif %}
                {% else %}
                    {% assign category_content = '' %}
                {% endif %}
      
                 {% if page.tags.size > 0 %}
               {% capture tags_content %} {% if page.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}  {% endcapture %}
                     {% for post_tag in page.tags %}
                         {% for data_tag in site.data.tags %}
                             {% if data_tag.slug == post_tag %}
                                 {% assign tag = data_tag %}
                             {% endif %}
                         {% endfor %}
                         {% if tag %}
                             {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                             {% assign tags_content = tags_content_temp %}
                         {% endif %}
                     {% endfor %}
                 {% else %}
                     {% assign tags_content = '' %}
                 {% endif %}
       
           <span id="post-list__meta">{{ category_content }}   {{ tags_content }}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <section class="post">
    {{ content }}
  </section>
</article>

    <div class="post related">
           {% if page.previous %}
       {% assign current = page.previous %}

        <a rel="prev" id="prev-btn" class="btn small square" href="{{ current.url }}">← {{ current.title }} </a>
   {% endif %}

       {% if page.next %}
       {% assign current = page.next %}
        <a rel="next" id="next-btn" class="btn small square" href="{{ current.url }}"> {{ current.title }} →</a>
           {% endif %}

    </div>
<br/>
<br/>

<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>


{% include comments.html %}
